* {
  padding: 0;
  margin: 0; }

main {
  background-color: black;
  color: white;
  width: 100%;
  height: 790px;
  display: flex;
  flex-wrap: wrap; }

footer {
  background-color: white;
  width: 100%; }

h1 {
  font-family: 'Lakki Reddy, cursive';
  padding-top: 56px;
  padding-left: 59px; }

.logonav {
  width: 304px;
  height: 161px; }

ul {
  list-style-type: none;
  justify-content: center;
  display: flex; }
  ul li {
    display: inline-block;
    font-size: 25px; }
    ul li a {
      justify-content: right;
      display: flex;
      color: white;
      text-decoration: none; }

.nav-item :hover {
  background-color: #ec5656;
  border-radius: 10px; }

/* INDEX */
.imgContDerecha {
  object-fit: cover; }

.textoredhot {
  padding: 50px; }

@media only screen and (max-width: 768px) {
  .mainindex {
    background-image: url(https://i.pinimg.com/originals/38/5d/76/385d7613ec3a7160e345196c3ea4da27.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 40rem; } }

@media only screen and (min-width: 768px) {
  .mainindex {
    background-image: url(https://cdn2.excelsior.com.mx/media/styles/image1200x630/public/pictures/2019/01/17/2082940.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; } }

/* GALERIA */
.galeria {
  width: 50%;
  justify-content: left;
  margin: 0%;
  overflow: hidden; }

#grilla, #grillavideos {
  display: grid; }

.fotos {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  height: 126px;
  left: 104px;
  top: 299px;
  padding: 5%; }

.contenedorgaleria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  overflow: hidden; }

.titulogaleria {
  padding-left: 85px;
  padding-top: 30px;
  width: 200px;
  height: 50px;
  font-family: 'Jaldi';
  font-style: normal;
  text-align: center;
  font-size: 40px;
  text-align: left; }

.contenedorvideos {
  width: 100%;
  height: 790px;
  padding-top: 90px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center; }

.videosredhot {
  padding-left: 5%; }

@media only screen and (max-width: 768px) {
  .maingaleria {
    display: block;
    height: 2300px; }
  .galeria {
    width: 100%; }
  #grilla {
    height: 1000px;
    grid-template-columns: 50%;
    grid-template-rows: 120px 120px 120px 120px 120px 120px;
    grid-template-areas: "foto1red" "foto2red" "foto3red" "foto4red" "foto5red" "foto6red";
    align-content: space-evenly;
    justify-content: space-evenly;
    column-gap: 10px;
    row-gap: 30px;
    padding-top: 100px; }
  .foto1red,
  .foto2red,
  .foto3red,
  .foto4red,
  .foto5red,
  .foto6red {
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  /* INDEX */
  .mainindex {
    height: 1030px; }
  .imgContDerecha {
    display: block !important;
    height: 645px; } }

@media only screen and (min-width: 768px) {
  #grilla {
    height: 650px;
    grid-template-columns: 40% 40%;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas: "foto1red foto2red" "foto3red foto4red" "foto5red foto6red";
    align-content: space-around;
    justify-content: center;
    column-gap: 30px;
    row-gap: 10px;
    padding-left: 50px;
    padding-top: 50px; }
  .foto1red,
  .foto2red,
  .foto3red,
  .foto4red,
  .foto5red,
  .foto6red {
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  #grillavideos {
    height: 650px;
    grid-template-columns: 40% 40%;
    grid-template-rows: 200px 200px;
    grid-template-areas: "foto1red foto2red" "foto3red foto4red";
    justify-content: center;
    column-gap: 20px;
    row-gap: 60px;
    padding-top: 80px; }
  .videos1redhot,
  .videos2redhot,
  .videos3redhot,
  .videos4redhot,
  .videos5redhot,
  .videos6redhot {
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  /* INDEX */
  .mainindex {
    height: 800px; } }

/* DISCOGRAFIA */
@media only screen and (max-width: 768px) {
  .maindiscografia {
    height: 1000px; } }

.maindiscografia {
  display: block; }

.titulosdiscografia {
  padding-top: 60px;
  padding-left: 109px;
  display: block; }

.discos {
  display: flex;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  top: 407px; }

.spotify {
  padding: 65px; }

.discografia {
  font-family: 'Jaldi';
  font-style: normal;
  text-align: center;
  font-size: 48px;
  text-align: left; }

.parrafodiscografia {
  font-family: 'Jaldi', sans-serif;
  font-style: normal;
  text-align: center;
  font-size: 36px;
  text-align: left; }

/* MIEMBROS */
.mainmiembros {
  display: block; }

.slide {
  top: 70px;
  justify-content: center; }

.slide img {
  height: 1000px; }

@media only screen and (max-width: 768px) {
  .slide {
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center; }
  .slide img {
    height: 600px; } }

@media only screen and (min-width: 768px) {
  .slide {
    margin-left: 500px;
    margin-right: 500px;
    justify-content: center; }
  .slide img {
    height: 600px; } }

.divnombremiembros {
  padding-top: 0px;
  padding-left: 150px;
  display: flex; }

.miembros {
  width: 280px;
  height: 126px;
  left: 90px;
  top: 303px;
  padding: 54px;
  justify-content: center;
  text-align: center;
  font-family: 'Jaldi', sans-serif;
  font-size: 30px; }

.divimagenesmiembros {
  display: flex;
  padding-top: 190px;
  padding-left: 60px;
  width: 277px;
  height: 408px;
  left: 68px;
  top: 407px; }

/* CONTACTO */
.contacto {
  display: flex;
  margin-bottom: 50px; }

.cont {
  justify-content: center;
  align-items: center; }

.titulocontacto {
  padding-top: 30px;
  width: 200px;
  height: 50px;
  font-family: 'Jaldi';
  font-style: normal;
  text-align: center;
  font-size: 40px;
  text-align: left; }

.parrafocontacto {
  margin-top: 32px;
  font-family: 'Jaldi', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 61px; }

.botonenviar {
  margin-top: 10px; }

.maincontacto {
  display: block; }

.form {
  justify-content: center; }

.formulario {
  font-family: 'Jaldi', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  display: flex;
  flex-direction: column; }
  .formulario .formulario__input {
    width: 353px;
    height: 33px;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 15px; }
  .formulario .formulario__inputMensaje {
    width: 353px;
    height: 118px;
    border-radius: 5px;
    padding-left: 5px;
    font-family: 'Jaldi';
    font-style: normal;
    font-size: 17px; }

.botonEnviar {
  margin-top: 20px;
  width: 97px;
  height: auto;
  background: #FA1010;
  border-radius: 5px;
  font-family: 'Jaldi';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: white; }

.labelform {
  font-family: 'Jaldi';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  align-items: center; }

.letrasmenu {
  color: black; }
